body,
html {
  margin: 0;
  color: #545F71;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #EEF1F4;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  line-height: 1.1;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 826px;
  padding: 1rem;
  border: 2px solid #545F71;
  border-radius: 10px;
  background-color: #ffffff;
}